@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CircularStd";
  src: local("CircularStd") url("../public/fonts/CircularStd-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "CircularStd", sans-serif;
}
